[submodule ".registry"]
	path = .registry
	url = https://github.com/hypertidy/hypertidy.r-universe.dev
	branch = HEAD
[submodule "CMIP5files"]
	path = CMIP5files
	url = https://github.com/hypertidy/CMIP5files
[submodule "L3bin"]
	path = L3bin
	url = https://github.com/hypertidy/L3bin
[submodule "PROJ"]
	path = PROJ
	url = https://github.com/hypertidy/PROJ
[submodule "activate"]
	path = activate
	url = https://github.com/hypertidy/activate
[submodule "affinity"]
	path = affinity
	url = https://github.com/hypertidy/affinity
[submodule "anglr"]
	path = anglr
	url = https://github.com/hypertidy/anglr
[submodule "area"]
	path = area
	url = https://github.com/hypertidy/area
[submodule "bigcurve"]
	path = bigcurve
	url = https://github.com/hypertidy/bigcurve
[submodule "cdt"]
	path = cdt
	url = https://github.com/hypertidy/cdt
[submodule "cells"]
	path = cells
	url = https://github.com/hypertidy/cells
[submodule "ceramic"]
	path = ceramic
	url = https://github.com/hypertidy/ceramic
[submodule "clipper"]
	path = clipper
	url = https://github.com/hypertidy/clipper
[submodule "contourPolys"]
	path = contourPolys
	url = https://github.com/hypertidy/contourPolys
[submodule "controlledburn"]
	path = controlledburn
	url = https://github.com/hypertidy/controlledburn
[submodule "crsmeta"]
	path = crsmeta
	url = https://github.com/hypertidy/crsmeta
[submodule "decido"]
	path = decido
	url = https://github.com/hypertidy/decido
[submodule "delone"]
	path = delone
	url = https://github.com/hypertidy/delone
[submodule "discrete"]
	path = discrete
	url = https://github.com/hypertidy/discrete
[submodule "earthcircle"]
	path = earthcircle
	url = https://github.com/hypertidy/earthcircle
[submodule "ffraster"]
	path = ffraster
	url = https://github.com/hypertidy/ffraster
[submodule "futility"]
	path = futility
	url = https://github.com/hypertidy/futility
[submodule "gdalio"]
	path = gdalio
	url = https://github.com/hypertidy/gdalio
[submodule "gdalwebsrv"]
	path = gdalwebsrv
	url = https://github.com/hypertidy/gdalwebsrv
[submodule "geoarea"]
	path = geoarea
	url = https://github.com/hypertidy/geoarea
[submodule "geodist"]
	path = geodist
	url = https://github.com/hypertidy/geodist
[submodule "ggdal"]
	path = ggdal
	url = https://github.com/hypertidy/ggdal
[submodule "gladr"]
	path = gladr
	url = https://github.com/hypertidy/gladr
[submodule "granulated"]
	path = granulated
	url = https://github.com/hypertidy/granulated
[submodule "graticule"]
	path = graticule
	url = https://github.com/hypertidy/graticule
[submodule "gridcol"]
	path = gridcol
	url = https://github.com/hypertidy/gridcol
[submodule "grout"]
	path = grout
	url = https://github.com/hypertidy/grout
[submodule "guerrilla"]
	path = guerrilla
	url = https://github.com/hypertidy/guerrilla
[submodule "kekule"]
	path = kekule
	url = https://github.com/hypertidy/kekule
[submodule "lazyraster"]
	path = lazyraster
	url = https://github.com/hypertidy/lazyraster
[submodule "lazysf"]
	path = lazysf
	url = https://github.com/hypertidy/lazysf
[submodule "manifoldr"]
	path = manifoldr
	url = https://github.com/hypertidy/manifoldr
[submodule "mesh3d"]
	path = mesh3d
	url = https://github.com/hypertidy/mesh3d
[submodule "ncapi"]
	path = ncapi
	url = https://github.com/hypertidy/ncapi
[submodule "ncdump"]
	path = ncdump
	url = https://github.com/hypertidy/ncdump
[submodule "ncmeta"]
	path = ncmeta
	url = https://github.com/hypertidy/ncmeta
[submodule "pfft"]
	path = pfft
	url = https://github.com/hypertidy/pfft
[submodule "plover"]
	path = plover
	url = https://github.com/hypertidy/plover
[submodule "polymer"]
	path = polymer
	url = https://github.com/hypertidy/polymer
[submodule "quad"]
	path = quad
	url = https://github.com/hypertidy/quad
[submodule "quadmesh"]
	path = quadmesh
	url = https://github.com/hypertidy/quadmesh
[submodule "realm"]
	path = realm
	url = https://github.com/hypertidy/realm
[submodule "rearcut"]
	path = rearcut
	url = https://github.com/hypertidy/rearcut
[submodule "reproj"]
	path = reproj
	url = https://github.com/hypertidy/reproj
[submodule "scdb"]
	path = scdb
	url = https://github.com/hypertidy/scdb
[submodule "scgraph"]
	path = scgraph
	url = https://github.com/hypertidy/scgraph
[submodule "scspatstat"]
	path = scspatstat
	url = https://github.com/hypertidy/scspatstat
[submodule "sds"]
	path = sds
	url = https://github.com/hypertidy/sds
	registered = false
[submodule "sfdct"]
	path = sfdct
	url = https://github.com/hypertidy/sfdct
[submodule "silicate"]
	path = silicate
	url = https://github.com/hypertidy/silicate
[submodule "spatial.datasources"]
	path = spatial.datasources
	url = https://github.com/hypertidy/spatial.datasources
	registered = false
[submodule "svgplotr"]
	path = svgplotr
	url = https://github.com/hypertidy/svgplotr
[submodule "tabularaster"]
	path = tabularaster
	url = https://github.com/hypertidy/tabularaster
[submodule "textures"]
	path = textures
	url = https://github.com/hypertidy/textures
[submodule "tidyff"]
	path = tidyff
	url = https://github.com/hypertidy/tidyff
[submodule "tidync"]
	path = tidync
	url = https://github.com/r-gris/tidync
	registered = false
[submodule "tissot"]
	path = tissot
	url = https://github.com/hypertidy/tissot
[submodule "topography"]
	path = topography
	url = https://github.com/hypertidy/topography
[submodule "unjoin"]
	path = unjoin
	url = https://github.com/hypertidy/unjoin
[submodule "vapour"]
	path = vapour
	url = https://github.com/hypertidy/vapour
[submodule "vaster"]
	path = vaster
	url = https://github.com/hypertidy/vaster
[submodule "vtkr"]
	path = vtkr
	url = https://github.com/hypertidy/vtkr
[submodule "whatarelief"]
	path = whatarelief
	url = https://github.com/hypertidy/whatarelief
[submodule "wince"]
	path = wince
	url = https://github.com/hypertidy/wince
[submodule "ximage"]
	path = ximage
	url = https://github.com/hypertidy/ximage
[submodule "xisoband"]
	path = xisoband
	url = https://github.com/hypertidy/xisoband
[submodule "xplot"]
	path = xplot
	url = https://github.com/hypertidy/xplot
[submodule "zarrr"]
	path = zarrr
	url = https://github.com/hypertidy/zarrr
